@charset "UTF-8";
.container {
  padding: 0px 15px;
  width: 375px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    min-width: 375px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1090px) {
  .container {
    min-width: 1090px;
    margin: 0 auto;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: white;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: "Open Sans", sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
  Document
  ========
  */
/**
  Use a better box model (opinionated).
  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Use a more readable tab size (opinionated).
  */
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
  1. Correct the line height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
  Sections
  ========
  */
/**
  Remove the margin in all browsers.
  */
body {
  margin: 0;
  padding: 0;
}

/**
  Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
  Grouping content
  ================
  */
/**
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  */
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
  Text-level semantics
  ====================
  */
/**
  Add the correct text decoration in Chrome, Edge, and Safari.
  */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  Add the correct font weight in Edge and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */
/**
  Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  Tabular data
  ============
  */
/**
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  */
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
  Forms
  =====
  */
/**
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
  Remove the inheritance of text transform in Edge and Firefox.
  1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
  Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  Remove the inner border and padding in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  Restore the focus styles unset by the previous rule.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  Remove the additional ':invalid' styles in Firefox.
  See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/**
  Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
  */
legend {
  padding: 0;
}

/**
  Add the correct vertical alignment in Chrome and Firefox.
  */
progress {
  vertical-align: baseline;
}

/**
  Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  Remove the inner padding in Chrome and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to 'inherit' in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
  Interactive
  ===========
  */
/*
  Add the correct display in Chrome and Safari.
  */
summary {
  display: list-item;
}

:root {
  --page-bg-color: #f9f9fd;
  --primary-text-color: #212121;
  --card-set-gap: 15px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 375px) {
  .header {
    background-image: url(../img/png/Rectangle-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }

  .nav {
    padding-top: 38px;
  }

  .logo {
    margin-bottom: 86px;
  }
  .logo__svg {
    width: 144px;
    height: 48px;
  }
  .logo__text {
    display: none;
  }

  .foundation {
    display: none;
  }

  .contact {
    display: none;
  }

  .outsourcing__heading {
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    color: #00FEFF;
    margin-bottom: 46px;
  }

  .service__text {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 400;
    color: #00FEFF;
    margin-bottom: 7px;
  }

  .price {
    margin-bottom: 35px;
  }
  .price__text {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    color: #FFFFFF;
  }
  .price__widht {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    color: #FFFFFF;
  }

  .btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding: 14px 45px;
    background-color: #00FEFF;
    border: 1px solid #00FEFF;
    margin-bottom: 37px;
  }

  .offer {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1090px) {
  .header {
    background-image: url(../img/png/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__svg {
    margin-right: 25px;
  }
  .logo__text {
    display: block;
    color: #00FEFF;
    border: 1px solid #00FEFF;
    padding: 8px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .foundation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 170px 0px 224px;
  }
  .foundation__list:nth-child(2) {
    margin: 0px 38px;
  }
  .foundation__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
  }

  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__text {
    margin-right: 13px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
  }
  .contact__link {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
  }

  .outsourcing__heading {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    color: #00FEFF;
    margin-bottom: 56px;
  }

  .service__text {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
    color: #00FEFF;
    margin-bottom: 7px;
  }

  .price {
    margin-bottom: 28px;
  }
  .price__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #FFFFFF;
  }
  .price__widht {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #FFFFFF;
  }

  .btn {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding: 14px 45px;
    background-color: #00FEFF;
    border: 1px solid #00FEFF;
    margin-bottom: 70px;
  }

  .offer {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: -125px;
    margin-left: 710px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 375px) {
  .services {
    background-color: #E5E5E5;
  }

  .heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding-bottom: 33px;
  }

  .technologies__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 38px;
  }
  .technologies__svg {
    margin-right: 23px;
    width: 75px;
    height: 67px;
  }
  .technologies__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: #001E42;
  }
}
@media screen and (min-width: 1090px) {
  .services {
    background-color: #E5E5E5;
  }

  .heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding-bottom: 55px;
  }

  .technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
    padding: 0;
  }
  .technologies__list {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    -ms-flex-preferred-size: calc((100% - 30px) / 3);
        flex-basis: calc((100% - 30px) / 3);
  }
  .technologies__svg {
    width: 75px;
    height: 67px;
    margin-right: 30px;
  }
  .technologies__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: #001E42;
  }
}
@media screen and (max-width: 1090px) {
  .goal {
    background-color: #e5e5e5;
  }

  .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .icon__svg {
    padding-left: 0px;
    width: 158px;
    height: 158px;
    margin-right: 16px;
  }
  .icon__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    color: #001e42;
    margin-top: 30px;
  }

  .text {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    color: #001e42;
    margin: 38px 0px 0px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1090px) {
  .goal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #e5e5e5;
  }

  .optimization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }

  .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 116px;
    padding: 0;
  }
  .icon__svg {
    padding-left: 0px;
    width: 158px;
    height: 158px;
    margin-right: 16px;
  }
  .icon__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    color: #001e42;
    margin-top: 55px;
  }

  .text {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #001e42;
    padding-bottom: 115px;
    margin-top: 69px;
    width: 504px;
  }
}
@media screen and (min-width: 375px) {
  .company {
    background-color: #E5E5E5;
  }

  .production {
    padding-bottom: 46px;
  }
  .production__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding: 46px 0px 20px;
  }
  .production__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #252D37;
  }
}
@media screen and (min-width: 1090px) {
  .company {
    background-color: #E5E5E5;
  }

  .production {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 97px 0px 61px;
  }
  .production__heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding: 0px;
  }
  .production__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #252D37;
    width: 821px;
  }
}
@media screen and (min-width: 375px) {
  .office {
    background-color: #E5E5E5;
  }

  .title__text {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    color: #001E42;
    padding: 30px 0px 38px;
  }

  .advertising__list {
    padding: 0px 0px 32px 0px;
  }
  .advertising__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #252D37;
  }
}
@media screen and (min-width: 1090px) {
  .office {
    background-color: #E5E5E5;
  }

  .title__text {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #001E42;
    padding: 70px 0px 30px;
  }

  .advertising {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advertising__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #252D37;
    width: 529px;
  }
}
@media screen and (min-width: 375px) {
  .connection {
    background-color: #E5E5E5;
  }

  .exploitation__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
  }

  .stages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .stages__number {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.2;
    color: #00FEFF;
    padding: 0px;
  }
  .stages .process {
    position: absolute;
    left: 29px;
    bottom: 20px;
  }
  .stages .process__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
  }
}
@media screen and (min-width: 1090px) {
  .connection {
    background-color: #E5E5E5;
  }

  .exploitation__heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding-bottom: 31px;
  }

  .stages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .stages__list:nth-child(2) {
    margin: 0px 315px;
  }
  .stages__number {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.2;
    color: #00FEFF;
  }
  .stages .process__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    width: 298px;
  }
}
@media screen and (min-width: 375px) {
  .price {
    background-color: #E5E5E5;
    margin-bottom: 0px;
  }

  .saving__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding-bottom: 20px;
  }

  .budget__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #252D37;
  }
  .budget__text:nth-child(2) {
    margin: 35px 0px;
  }
  .budget__width {
    font-weight: 700;
  }

  .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .check__list {
    padding-bottom: 35px;
  }
  .check__list:nth-child(1) {
    margin-right: 15px;
  }
  .check__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    border: 2px solid #001E42;
    padding: 17px 41px;
    background-color: #E5E5E5;
  }
  .check__link:hover {
    border: 2px solid #001E42;
    padding: 17px 22px;
    background-color: #f2f2f2;
  }

  .well {
    padding-bottom: 67px;
  }
  .well__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #001E42;
    margin-bottom: 15px;
  }
  .well__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #001E42;
  }
  .well__text:nth-child(1) {
    padding-top: 34px;
  }
  .well__text:last-child {
    padding-bottom: 34px;
  }
  .well__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    color: #001E42;
    padding-bottom: 5px;
  }
  .well__heading--size {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    color: #001E42;
    padding-bottom: 5px;
  }
  .well__text--size {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: #001E42;
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1090px) {
  .price {
    margin-bottom: 0px;
    background-color: #E5E5E5;
  }

  .payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .saving {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .saving__heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding-bottom: 33px;
  }

  .budget {
    width: 529px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .budget__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #252D37;
  }
  .budget__text:nth-child(2) {
    margin-top: 35px;
  }
  .budget__text--width {
    font-weight: 700;
  }

  .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .check__list:last-child(1) {
    margin-right: 19px;
  }
  .check__link:hover {
    border: 2px solid #001E42;
    padding: 17px 22px;
    background-color: #f2f2f2;
  }

  .well {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .well__list {
    width: 259px;
  }
  .well__list:nth-child(1) {
    margin-right: 12px;
  }
  .well__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #001E42;
    padding-top: 38px;
  }
  .well__text:first-child {
    padding-top: 34px;
  }
  .well__text:last-child {
    padding-bottom: 34px;
  }
  .well__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    color: #001E42;
    padding-bottom: 6px;
  }
  .well__heading--size {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    color: #001E42;
    padding-bottom: 3px;
  }
  .well__text--size {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 375px) {
  .clients {
    background-color: #E5E5E5;
  }

  .customer {
    padding: 0px 0px 74px 0px;
  }
  .customer__heading {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding-bottom: 25px;
  }

  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .logo__img {
    margin-bottom: 7px;
  }
}
@media screen and (min-width: 1090px) {
  .customer {
    padding: 0px 0px 80px 0px;
  }
  .customer__heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #001E42;
    padding-bottom: 43px;
  }

  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}
@media screen and (min-width: 375px) {
  .organization {
    background-color: #E5E5E5;
  }

  .infrastructures__heading {
    color: #A5AAAF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    padding: 0px 0px 13px;
  }

  .description {
    padding-bottom: 56px;
  }

  .experience__list {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #A5AAAF;
    margin-bottom: 20px;
  }

  .complex {
    width: 345px;
  }
  .complex__list {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #A5AAAF;
  }
}
@media screen and (min-width: 1090px) {
  .infrastructures__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    padding: 0px 0px 27px;
  }

  .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 16px;
  }

  .experience {
    width: 530px;
  }
  .experience__list {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .complex {
    width: 530px;
    height: 359px;
    margin-left: 30px;
  }
  .complex__list {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
  }
}/*# sourceMappingURL=main.css.map */