// //mobile//
@media screen and (max-width: 1090px) {
  .services {
    background-color: #e5e5e5;
  }
  // .container {
  // }
  .heading {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #001e42;
    margin-bottom: 55px;
  }
  .technologies {
    &__list {
      display: flex;
    }

    &__svg {
      margin-bottom: 38px;
      width: 76px;
      height: 70px;

      padding: 0px;
    }

    &__link {
      margin-left: 23px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      color: #001e42;
      width: 166px;
      height: 44px;
    }
    &__link:nth-child(2) {
      width: 231px;
      height: 76px;
    }
  }
}

// desktop*//
@media screen and (min-width: 1090px) {
  .services {
    background-color: #e5e5e5;
  }
  // .container {
  // }
  .heading {
    font-size: 53px;
    line-height: 1;
    font-weight: 700;
    color: #001e42;
    margin-bottom: 55px;
    letter-spacing: 3px;
  }
  .technologies {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;

    &__list {
      padding: 6px 5px 5px 10px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 15px;
      flex-basis: calc((100% - 30px) / 3);
    }

    &__svg {
      width: 76px;
      height: 70px;
      padding: 0px;
    }

    &__link {
      margin: -59px 65px 41px 102px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      color: #001e42;
    }
  }
}
