.container {
  padding: 15px;
  width: 1090px;
  margin: 0auto;
}
@media screen and (max-width: 1090px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1090px) {
  .container {
    max-width: 1090px;
    padding: 30px;
    margin: 0 auto;
  }
}
